body {
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
  }
  
  #test-msg {
    font-size: 10vw;
  }
  
  #alert-box {
    display:flex;
    z-index: 999;
    width: 33vw;
    aspect-ratio: 3.5/1;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    top:-100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    padding: 1vw;
    background-color: #FFFBFF;
    opacity: 0; 
  }
 
  
  #alert-msg-div {
    display: flex;
    width: 100%;
    height: 60%;
    font-size: 1.2vw;
    color: rgb(31, 30, 30);
    line-height: 2vw;
  }
  
  #alert-btn-div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  #remove-alert-btn {
    width: 6vw;
    height: 3.8vw;
    background-color: #6D5192;
    border-radius: 1.9vw;
    color: white;
    border: 3px solid white;
    font-weight: 600;
    position: relative;
  }
  
  #remove-alert-btn::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: calc(1.9vw + 5px);
    background-color: #6D5192;
    z-index: -1;
  }
  
  #overlay-alert-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    display: none;
  }
  